
// Tree View
// -------------------

// Used to explore and open files in the current project.
// Overrides: atom/tree-view


.tree-view-resizer {
  border-right: 1px solid @base-border-color;
}

.tree-view {
  color: @text-color;
  background-image: url(../assets/bg.png);
  background-repeat: repeat;
  background-color: hsla(33, 23%, 5%, .5);

  .list-item.selected {
    color: @text-color-selected;
  }
}
