
// Tree View
// -------------------

// Used to explore and open files in the current project.
// Overrides: atom/tree-view


.tree-view-resizer {
  border-right: 1px solid @base-border-color;
}

.tree-view {
  color: @text-color;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAV4AAAEDCAMAAABK5ZwBAAAAb1BMVEVlZWVnZ2dmZmZhYWFjY2NkZGRiYmJpaWlra2tqampoaGhgYGBsbGxeXl5fX19tbW1dXV1ubm5cXFxvb29wcHBbW1txcXFaWlpZWVlzc3NycnJ0dHRYWFh1dXVXV1d2dnZWVlZ3d3dVVVV7e3tSUlK");
  background-repeat: repeat;
  background-color: @tree-view-background-color;

  .list-item.selected {
    color: @text-color-selected;
  }
}
